
<div class="container-fluid">

    
    <div class="d-flex pt-2 justify-content-center">
        <h3>ข้อมูลอาหาร</h3>
        
    </div>
    <div class="d-flex  justify-content-start mb-1">
        <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add" onclick="add()">
            เพิ่มอาหาร
        </button>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                
                <table id="employee" class="table table-bordered table-hover " >
                    <thead>
                        <tr>
                            <th>รหัสอาหาร</th>
                            <th>ชื่ออาหาร</th>
                            <th>ประเภท</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i of data_food){%>
                            <tr>
                                <td><%= i.ID%></td>
                                <td><%= i.Fd_Name%></td>
                                <td><%= i.Fd_Category%></td>
                                <td>
                                    <div class="d-flex">
                                        <p class="btn btn-warning p-1 px-1 mr-1" data-toggle="modal" data-target="#modal-update"onclick="update('<%= Object.values(i) %>') ">แก้
                                        </p>
                                        <p class="btn btn-danger p-1 px-1 " onclick="del('<%=i.ID%>')" >ลบ</p>
                                    </div>
                                </td>
                                
                            </tr>
                        <%} %> 
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<form id="delete" action="manage_food/delete" method="post" class="d-inline">
    <input type="number" name="id_del" class="d-none" value="">
</form>


<!-- =================== Modal Add ===================-->
<div class="modal fade" id="modal-add">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-purple">
          <h4 class="modal-title ">ใส่ข้อมูลอาหาร</h4>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>
        <form action="manage_food/add" method="post">
            <div class="modal-body">
            <!-- ============================== Form ==============================-->
                <div class="form-group">
                    <blockquote id="alert" class="quote-danger m-0">
                        <h3>! กรุณาใส่ข้อมูลให้ครบ</h3>
                    </blockquote>
                </div>
                
                <div class="form-group">
                    <label >ชื่ออาหาร</label>
                    <input type="text" class="form-control" name="food">
                </div>
                <div class="form-group">
                    <label >ประเภท</label>
                    <select class="form-control" name="type" >
                        <% for(i of food_category){%> 
                            <option value="<%=i.ID%>"><%=i.Fd_Category%></option>
                        <%} %> 
                    </select>
                </div>

            </div>
            
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="return vali('add')">Save changes</button>
            </div>

        </form>

      </div>
    </div>
</div>

<!-- =================== Modal Update ===================-->
<div class="modal fade" id="modal-update">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-purple">
          <h4 class="modal-title ">อัปเดตข้อมูลพนักงาน</h4>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>

        <form action="manage_food/update" method="post">
            <div class="modal-body">
            <!-- ============================== Form ==============================-->
            
                <div class="form-group">
                    <blockquote id="Ualert" class="quote-danger m-0">
                        <h3>! กรุณาใส่ข้อมูลให้ครบ</h3>
                    </blockquote>
                </div>

                
                <div class="form-group">
                    <label >ชื่ออาหาร</label>
                    <input type="text" class="form-control" name="Ufood">
                </div>
                <div class="form-group">
                    <label >ประเภท</label>
                    <select class="form-control" name="Utype" >
                        <% for(i of food_category){%> 
                            <option id="<%=i.Fd_Category%>" value="<%=i.ID%>"><%=i.Fd_Category%></option>
                        <%} %> 
                    </select>
                </div>
                <input type="number" name="id_update" class="d-none" value="">
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="return vali('update')">Save changes</button>
            </div>

        </form>

      </div>
    </div>
</div>


<script>

    $(function () {
      $('#employee').DataTable({
        "paging": true,
        "lengthMenu": [[5, 10, 20], [5, 10, 20]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
      
    });

    // init
    $("#alert").addClass("d-none")
    $("#Ualert").addClass("d-none")

    function add(){
        $("#alert").addClass("d-none")
    }

    let oldOp ="";
    function update(data){
        data = data.split(",");
        // console.log(data);
        $("input[name=id_update]").val(data[0])
        $("input[name=Ufood]").val(data[1]);

        $(`option[id=${data[3]}]`).attr("selected","true");
        if(oldOp !== data[3]){
            if(oldOp != ""){
                $(`option[id=${oldOp}]`).removeAttr("selected");
            }
            oldOp = data[3];
        }
        $("#Ualert").addClass("d-none")
    }

    function del(id){
        $("input[name=id_del]").val(parseInt(id))
        if(confirm("ยืนการลบข้อมูล") == true){
            $("#delete").submit();
        }
    }

    function vali(mode){
        if(mode === "add"){
            let food = ($("input[name=food]").val()).trim() === "";
            if( !food ){
                return true;
            }else{
    
                $("#alert").removeClass("d-none")
                return false;
            }
        }else if(mode === "update"){
            let food = ($("input[name=Ufood]").val()).trim() === "";
            if( !food ){
                return true;
            }else{
    
                $("#Ualert").removeClass("d-none")
                return false;
            }
        }
        
    }
  
</script>




<!-- ============================= ERROR Zone =============================-->
<p class="error d-none"></p>
<% if(error === 1){%>
        <script>
            $('.error').click(function() {
                toastr.error('มีชื่ออาหารนี้อยู่เเล้ว')
            });
            document.querySelector('.error').click()
        </script>
<%} %> 
<!-- ============================= ERROR Zone =============================-->